.refresh-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.refresh-head {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #f5f5f5;
}
