.message{
    display: flex;
    margin-right: 50px;

}
.message-content{
    position: relative;
    max-width: 100%;
    background: #f9f9f9;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    line-height: 1.4;
    
}

.message-content::after{
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #F9F9F9 transparent transparent;
}
.message__self{
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 0;
}
.message__self .message-content{
    margin-left: 0px;
    margin-right: 10px;
    background-color: rgb(152, 255, 101);

}
.message__self .message-content::after{
    right: -6px;
    left: auto;
    border-color: transparent transparent transparent rgb(152, 255, 101);
    border-width: 7px 0px 7px 7px;
}
.message-system {
    margin: 10px;
    text-align: center;
    color: #aaa;
    font-size: 14px;
    margin: 20px;
}